h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

/* .players-list-container {
  display: flex;
  flex-direction: column;
}

.players-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.player-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ddd;
}

.player-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.player-preferences {
  font-size: 18px;
  margin-top: 0.5rem;
}

.player-preferences > span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.delete-button {
  background-color: #FF0000;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
}

.delete-button:hover {
  background-color: #FF3333;
} */

.players-list-container {
  display: flex;
  flex-direction: column;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  position: relative;
}

.delete-button {
  background-color: red;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
}

.player-preferences {
  font-size: 16px;
  margin-top: 10px;
}
